body {
    margin: 0;
    overflow: hidden;
    background-color: #080b12; /* Color de respaldo */
}

/* =========================================
   1. ANIMACIÓN DEL FONDO (SLIDER)
========================================= */
.bg-slider { position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; z-index: 1; }
.bg-slider div {
    position: absolute; top: 0; left: 0; width: 100%; height: 100%;
    background-size: cover; background-position: center; opacity: 0;
    animation: slider 12s infinite ease-in-out;
}
.bg-slider div:nth-child(1) { background-image: url('https://imgs.search.brave.com/hlye_a3xUoiAlrm5GIOHoPdTwlBHA-qMPzFSppeDeQ0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJjYXZlLmNv/bS93cC93cDE2MDEz/NjY3LnBuZw'); animation-delay: 0s; }
.bg-slider div:nth-child(2) { background-image: url('https://imgs.search.brave.com/IHX9WO6TG20_tkxsH8G_H0V5A2Ar1HtFdJRlMg1JlH0/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5lc3BvcnRzLmdn/L3VwbG9hZHMvMjAy/NC8wNy9Ib3ctdG8t/dGFrZS1waWN0dXJl/cy1pbi1aWlotWmVu/bGVzcy1ab25lLVpl/cm8tOTY4eDU0NC5q/cGc'); animation-delay: 4s; }
.bg-slider div:nth-child(3) { background-image: url('https://imgs.search.brave.com/uV0k379CebSVx79pYRNwukV2OY24WsLDFh_6H6Rhvqw/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9md21l/ZGlhLmZhbmRvbXdp/cmUuY29tL3dwLWNv/bnRlbnQvdXBsb2Fk/cy8yMDI2LzA5LzE5/MDgwNDQyL2ltYWdl/LTdkYTFlN2U5LTEw/MjR4NTc2LnBuZw'); animation-delay: 8s; }

@keyframes slider { 
    0% { opacity: 0; transform: scale(1); } 
    10% { opacity: 1; } 
    33% { opacity: 1; } 
    43% { opacity: 0; transform: scale(1.05); } 
    100% { opacity: 0; } 
}

/* =========================================
   2. CAPA OSCURA Y EFECTOS CRISTAL
========================================= */
.overlay {
    position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 0.45); z-index: 2;
}

/* Tarjeta transparente */
.glass-panel {
    background: rgba(20, 30, 45, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* Soporte para Safari/iOS */
}

/* Cajas de texto ligeramente transparentes para que combinen */
.custom-input {
    background-color: rgba(255, 255, 255, 0.85) !important;
    border: none;
}
.custom-input:focus {
    background-color: #ffffff !important;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
}